.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/*.csv
data/raw/*.zip
data/raw/*.xlsx
data/raw/*.json
data/raw/*.dta
data/raw/*.txt
data/sample/*.csv
data/processed/*.csv
data/processed/*.db
data/processed/powerbi_views/*.csv
